/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

src/AppBundle/Resources/public/scope-ui

# Frontend caches
.sass-cache/
node_modules/
bower_components/
.grunt/
temp.js

# node
node_modules
npm-debug.log
.sass-cache

# IDEs
/.idea
*.iml
*~

# php-cs-fixer
.php_cs.cache

# System files
.DS_Store
